
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
@*<body background ="https://cache-content.credit.com/wp-content/uploads/2016/11/opening-bank-account-612x281.jpg">*@
<body style="background-color:#E6E6FA">

    <h1>Welcome</h1>


</body>
</html>